*:focus {
  box-shadow: 0 0 4px 4px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

html {
  background: hsl(0, 0%, 100%);
  background: linear-gradient(120deg, hsla(185, 83%, 86%, 0.2), hsl(0, 0%, 100%)) fixed;
}

h1 {
  color: hsl(185, 83%, 25%);
  font-family: Calligraffitti, cursive;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 4px;
  padding-top: 6%;
  padding-bottom: 2%;
}

main {
  padding-bottom: 60px;
}

.card {
  background: hsl(185, 83%, 86%);
  background: linear-gradient(hsl(185, 83%, 86%), hsl(185, 83%, 95%)) fixed;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 700px;
  padding: 20px;
}

.quote,
q {
  color: hsl(185, 83%, 25%);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 26px;
}

.source {
  color: hsl(185, 83%, 25%);
  font-style: italic;
  line-height: 20px;
  margin-top: 5%;
}

.tweet-button {
  margin-top: 8%;
  text-align: right;
}

.tweet,
.tweet:visited,
.tweet:active,
.tweet:focus {
  background: hsl(185, 83%, 30%);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  padding: 8px 10px;
}

.tweet:hover {
  background: hsl(185, 83%, 25%);
  text-decoration: none;
}

.new-quote,
.new-quote:active,
.new-quote:focus {
  background: hsl(185, 83%, 30%);
  border-radius: 100%;
  color: hsl(0, 0%, 100%);
  margin-bottom: 5%;
  padding: 14px;
}

.new-quote:hover {
  background: hsl(185, 83%, 25%);
}

footer {
  background: hsl(185, 83%, 86%);
  background: linear-gradient(to right, hsl(185, 83%, 86%), hsl(185, 83%, 95%)) fixed;
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: hsl(185, 83%, 25%);
}
