<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <header>
      <h1><%= mainHeading %></h1>
    </header>
    <main>
      <div class="card"></div>
      <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> Unable to load a new quote at this time.</p>
      <button type="button" class="button new-quote">New Quote</button>
    </main>
    <%- include ('./partials/footer') -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
